{% extends "base.html" %}
{% block title %}Nick Tighe{% endblock %}
{% block content %}
<p>Nick Tighe is a Fine Artist from Manchester, currently based in the Ribble Valley.</p>

<p>His practice is forever developing and changing and the pieces shown on this website are from current projects and work completed whilst away studying and travelling. If you have any questions, please get in touch via <a href='m&#97;i&#108;t&#111;&#58;&#116;a&#37;67t%&#54;9g&#101;r28&#64;&#103;mai&#108;&#46;c&#111;m'>t&#97;&#103;&#116;iger&#50;&#56;&#64;gma&#105;&#108;&#46;&#99;om</a></p>
{% endblock %}
